*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg);
}

ol,
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
