.navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.navigation :where(.search-bar) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: fit-content;
}
/* form */
.navigation :where(.search-bar) form {
  display: flex;
  align-items: center;

  width: fit-content;
  border-radius: 2rem;
  background-color: var(--black);

  width: 2.5rem;
  overflow: hidden;
  transition: 0.5s;
}
.navigation :where(.search-bar) span {
  background-color: var(--black);
  border-radius: 50%;
  padding: 0.5rem;

  cursor: pointer;
  color: var(--white);
}
.navigation :where(.search-bar) input {
  border: none;
  background-color: var(--black);
  border-radius: 2rem;
  padding: 0.5rem;

  color: white;
}

/* links */
.navigation :where(.links) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
}

.navigation :where(.links) a {
  transition: 0.3s;
  padding: 1rem 2rem;
  color: var(--text-color);
}
.navigation :where(.links) a:hover {
  color: var(--subject);
}

/* home app logo */
.navigation :where(.home-app-logo) {
  display: flex;
  flex-flow: row nowrap;
}

.navigation :where(.home-app-logo) a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3rem;
  color: var(--text-color);
  span {
    color: var(--subject);
    font-variation-settings: "FILL" 1;
  }
  p {
    font-weight: 600;
  }
}

/* darkmode */
.navigation :where(.darkmode) .darkmode-btn {
  border: none;
  display: grid;
  place-content: center;
  background-color: var(--white);
  border-radius: 50%;
  padding: 3px;

  transition: 0.2s;
}

.navigation :where(.darkmode) .darkmode-btn:hover {
  background-color: var(--black);
  color: var(--white);
  font-variation-settings: "FILL" 1;
}

/* contact */
.navigation :where(.contact) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.navigation :where(.contact) li:nth-child(1) a {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 0.5rem;
  color: var(--text-color);

  transition: 0.2s;
}
.navigation :where(.contact) li:nth-child(1) a:hover {
  color: var(--subject);
}

.navigation :where(.contact) span {
  font-size: 16px;

  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.2s;
}
.navigation :where(.contact) span:hover {
  color: var(--subject);
}

/* cart */
.navigation :where(.cart) li > a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3rem;

  padding-inline-start: 0.5rem;
  background-color: var(--white);
  border-radius: 2rem;
  color: var(--text-color);

  span {
    background-color: var(--black);
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--white);
    font-size: 16px;
  }
}
