.navigation {
  padding: 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* links */
.navigation :where(.links-list) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.navigation :where(.links-list) .search-bar {
  display: flex;
  align-items: center;
  background-color: var(--black);
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  span {
    color: var(--white);
  }
  input {
    display: none;
  }
}
.navigation :where(.links-list) .links {
  display: flex;
  align-items: center;
}
.navigation :where(.links-list) .links > a {
  display: flex;
  align-items: center;

  padding: 1rem;
  color: var(--text-color);
  font-size: 14px;
}

/* logo */
.navigation :where(.home-app-logo) li > a {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  position: absolute;
  top: 1.75rem;
  right: 49vw;
  z-index: 1;

  span {
    color: var(--subject);
    font-variation-settings: "FILL" 1;
  }
  p {
    font-weight: 600;
    color: var(--text-color);
  }
}

/* actions */
.navigation :where(.actions-list) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navigation :where(.actions-list) li > a {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  padding: 1rem;
}
.navigation :where(.darkmode) {
  border: none;
  background-color: var(--black);
  border-radius: 2rem;
  padding: 0.3rem;

  display: flex;
  align-items: center;
  span {
    color: var(--white);
    font-size: 16px;
  }
}
.navigation :where(.darkmode):hover span {
  font-variation-settings: "FILL" 1;
}

/* contact */
.navigation :where(.actions-list) {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation :where(.actions-list) .contact > a {
  border-radius: 2rem;
  padding: 0;
  padding-inline-start: 0.5rem;
  color: var(--text-color);
  span {
    background-color: var(--white);
    border-radius: 2rem;
    color: var(--black);
    padding: 0.5rem;
    font-size: 16px;
  }
}
.navigation :where(.actions-list) .cart > a {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 0;
  padding-inline-start: 0.5rem;
  color: var(--text-color);
  span {
    background-color: var(--black);
    border-radius: 2rem;
    color: var(--white);
    padding: 0.5rem;
    font-size: 16px;
  }
}
